*{
    margin: 0;
    padding: 0;
}

html{
    width:95%;
    margin:auto;
}

body {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

main {
    
    flex-grow: 1;
    background-color: white;
}

header{
    padding:10px;
}

h2{
    color:white;
}


nav {
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
}

nav ul li {
    color : white;
    display: inline;
    padding:10px;

}

.my-space {
    width: 960px;
    margin:auto;
}

.top {
    width:960px;
    height:360px;
    background-color:#222222;
    margin:auto;
    margin-top:20px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.para-content{
    background-color:#eeeeee ;
    color:#bababa;
    margin-top:20px;
    padding-top:10px;
    padding-bottom: 10px;
}

.my-gallery{
    padding-top:15px;
}

.container{
    display:flex;
    justify-content:space-between;
    padding-top:15px;
    padding-bottom:15px;
}

.card{
    border: 1px solid #bababa;
    text-align: center;
}

.card div{
    background-color: #222222;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    width:215px;
    height: 315px;
}

footer{
    background-color: black;
}
 
footer div{
    padding: 10px;
    color:white;
    display: flex;
    justify-content: space-between;
}